$fontBold: 'Biennale Bold';
$fontRegular : 'Biennle Regular';
$fontLight : 'Biennle Light';

$corPrimaria: #000;
$corPrimaria3:#F10086;
$corPrimaria4:#150050;
$cinza:#CE49BF;
$cinza1:#711A75;
$cinza2: #610094;
$cinza3: #3F0071;
$cinza4: #1ee100;
$branco:#fff;

$desktopBreakpoint:992px;